html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Verdana;
    font-size: 36px;
    color: #444;
    background-color: #83A7B6;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a, a:visited, a:link, a:hover {
    text-decoration: none;
    color: inherit;
}

.conteneur {
    width: 80%;
    height: 100%;
}

h1 {
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
    opacity: 0.8;
    color: #1C414F;
}

h1:hover {
    opacity: 1.2;
}

input.quoi-faire {
    width: 99%;
    padding: 15px;
    font-size: 36px;
    padding-left: 50px;
    box-shadow: 10px 10px 15px 1px #1C414F;
    background-color: #FFFBF6;
    border: none;
    margin: 20px 0;
    border-radius: 5px;
}

div.filtres {
    margin-bottom: 0px;
    text-align: right;
    padding-right: 10px;
    font-size: 0.5em;
}

div.filtres a {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    background-color: #333;
    color: #eee;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 1px lightslategrey;
}

div.filtres a:hover {
    background-color: #000;
    color: #fff;
}

ul.liste-taches {
    margin-top: 10px;
    list-style: none;
    padding: 0;
    width: 99%;
}

ul.liste-taches li {
    cursor: default;
    border-bottom: 5px solid #d5d5d5;
    padding: 40px;
    position: relative;
    border-radius: 5px;
    background-color: #FFFBF6;
    display: flex;
}

.memo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 100%;
    margin-top: 10px;
}

ul.liste-taches li:hover {
    background-color: khaki;
}

ul.liste-taches li span.coche img {
    vertical-align: middle;
    width: 70px;
}

ul.liste-taches li.accomplie {
    text-decoration: line-through;
    opacity: 0.5;
}

ul.liste-taches li.accomplie:hover {
    text-decoration: line-through;
    opacity: 0.75;
}

ul.liste-taches li span.ajout {
    font-size: 0.5em;
    font-family: Georgia;
    font-style: italic;
    opacity: 0.5;
}
.coche {
    position: absolute;
    top: 25%;
    right: 3%;
}

.done {
    position: relative;
    left: 0%;
    top: 10%;
}

